# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Generate Cypress Report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  jobs:
    cypress-test:
    name: Run on Chrome 83
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.0-chrome83-ff77

    steps:
    - uses: actions/checkout@v3
    - name: Install cypress and verify
      run: |
        npm ci
        $(npm bin)/cypress verify
        
    - name: Run Cypress Tests
      run: npm run test:chrome
      continue-on-error: false
      
    - name: Copy test execution videos and screenshots
      run: |
        mkdir public
        cp -r cypress/videos public/videos
        cp -r cypress/screenshots public/screenshots
        
    - name: Merge Test Reports
      run: npm run combine:report
      
    - name: Generate Test Reports
      run: npm run generate:report
